<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking the style -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- Linking the script -->
    <script src="js/booking.js" defer></script>
    <title>Vacation booking form</title>
    <!-- Favicon -->
    <link rel="icon" href="images/booking.png">

</head>

<body>
    <main>
        <div class="hero">
            <img src="https://bit.ly/305-vacation" alt="Vacation beach view " class="hero-img ">
            <h1>Thank you for your request!</h1>
        </div>

    </main>
    <div class="actions">
        <p>Your booking request has been received.</p>
        <button class="btn">
      <a href="/" >Back to Home</a>
    </button>
    </div>
    <footer class="footer">
        <a href="https://github.com/Azeb-S/MidTerm_Booking.git"> GitHub page </a>
        <p>https://github.com/Azeb-S/MidTerm_Booking.git</p>
    </footer>

</body>

</html>